nav {
   height: auto;
}

h1 {
  font-family: "Fruktur", display;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
header {
  background: #cb690f;
  width: fit-content 100%;
  height: 111px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.navlist {
  background: #22cf87;
  text-align: center;
  width: 22%;
  height: 400px;
  float: left;
  list-style-type: none;
  text-decoration: none;
  padding: 15px;
  display: block;
  min-height: 100vh;
}
div {
  float: right;
  width: 60%;
}
h3 {
  font-size: 40px;
}
p {
  font-size: 20px;
}

header, nav, main, footer {
  width: 100%;
  box-sizing: border-box;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .navlist {

  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
}